@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: transparent;
    background-image: url(images/background3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid rgb(146, 144, 144);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    background-color: transparent;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


header h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    color: rgb(222, 222, 222);   
    animation: slide 2.5s ease-in-out;

}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

nav ul li a{
    text-decoration: none;
    margin: 0 30px;
    color: rgb(222, 222, 222);
    border: hidden;
    padding: 5px;
    border-radius: 20px;
    
}

nav ul li a:hover{
    transform: scale(2.15);
    background-color:  rgb(222, 222, 222);
    border: 1.7px solid rgb(222, 222, 222);
    border-color: rgb(222, 222, 222);
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}

main {
    width: 100%;
    background: transparent;
    text-align: center;
}

h2 {
    margin: 30px 0 25px 0;
    color: rgb(222, 222, 222);
    font-size: 50px;
}

main p {
    color: rgb(198, 196, 196);
    font-size: 17px;
    line-height: 1.5rem;
}

.container {
    display: flex;
    align-items: start;
    margin: 0 50px 0 50px;
}

.cards {
    width: 700px;
    height: 455px;
    background: transparent;
    margin: 20px 20px 0 0;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 20px;
    backdrop-filter: blur(60px);
    transition: transform .5s ease-in-out;
    padding: 2px;
}

.cards:hover {
    transform: translateY(-20px);
}

.cards img {
    width: 70%;
    height: 120px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    margin: 20px 10px 0  10px ;
}

.caption {
    margin-top: 5px;
    color: rgb(158, 158, 158);
    font-size: 17px;
    font-weight: bolder;
}

.cards a {
    text-decoration: none;
    color: rgb(222, 222, 222);
    padding: 10px;
    border: hidden;
    border-radius: 20px;
    transition:  .5s ease-in-out;
}

.cards a:hover {
    border: 1px solid rgb(222, 222, 222);
    background: transparent;
    color: gray;
}


footer {
    text-align: center;
    color: rgb(222, 222, 222);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer div {
    display: flex;
    justify-content: right;
    margin: -40px 50px;
    align-items: center;
}

footer div p {
    margin: 0 40px;
    border-radius: 15px;
    padding: 5px;
    transition: 0.5s ease-in-out;
}

footer div p:hover {
    background-color: rgb(222, 222, 222);
    color: black;
}

