@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto",sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.calculator {
    background-color: #2d2d2d;
    border-radius: 20px;
    padding: 20px;
    max-width: 350px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 24px;
    margin-bottom: 20px;
}

.history {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    color: white;
    background-color: #333;
    border: none;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.btn:hover {
    background-color: #444;
}

.btn-operator {
    background-color: #ff9500;
}

.btn-equals {
    background-color: #4caf50;
    border-radius: 20px;
    grid-column: span 2;
}

.btn-clear {
    background-color: #f44336;
} 